node_modules
dist
coverage
.git
.idea
.env
.env.*
!.env.prod.example
*.md
docker-compose*.yml
prometheus.yml
.github
.husky
.vscode
dist-test
graph.png
madge-report.json
plan.txt
tma/node_modules
tma/dist
